<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static%}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>{% block title %}{% endblock %}</title>
  {% if user.is_authenticated %}
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'webcomponents.js' %}" type="module"></script>
  {% endif %}
</head>

<body>
    <div id="navbar"> 
        <a class="logo" href="/website">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Rubik%27s_Cube_-_The_Noun_Project.svg" style="width: 30px;">
            <span>CloneDrive</span>
        </a>
    </div>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}" class="logout">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
    {% endif %}
    {% block 'content' %}{% endblock %}
</body>

</html>