{% extends "base.html" %}
{% block title %}Home{% for item in folder %} - {{item.name}}{% endfor %}{% endblock %}
{% load static%}
{% block 'content' %}
    <div class="container">

        <div class="content-left">

        </div>
        
        <div class="content-center">
            {% if not user.is_authenticated %}
                <div id="loggingBox">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Rubik%27s_Cube_-_The_Noun_Project.svg" alt="Logo" class="Logginglogo">
                    <div class="message">
                        <p>Você não está conectado na nossa plataforma. Para conseguir acesso, por favor faça login ou registre-se.</p>
                    </div>
                    <div class="buttonsBox">
                        <a href="{% url 'login' %}" class="button">Login</a>
                        <a href="{% url 'signup' %}" class="button">Signup</a>
                    </div>
                </div>
            {% else %}
                <div id="uploadBox">
                    <div id="folderBox">
                        <h1>Folder</h1>
                        <form method="post" enctype="multipart/form-data" id="folderForm">
                            {% csrf_token %}
                            <input title="Folder Name" type="text" id="folder_name" placeholder="Enter folder name" required>
                            <button type="submit" id="submitFolder" class="btn">Create</button>
                        </form>
                    </div>

                    
                    <div id="fileBox">
                        <h1>File</h1>
                        <form method="post" enctype="multipart/form-data" id="fileForm">
                            {% csrf_token %}
                            <div id="dropArea" class="drop-area">
                                <p>Drag and drop a file here or click to select a file</p>
                                <input type="file" id="file_content" accept="*" hidden>
                            </div>
                            <button type="submit" id="submitFile" class="btn">Submit</button>
                        </form>
                    </div>
                </div>

                <path-ui></path-ui>

                {% if files|length > 0 or folders|length > 0 %}
                    <ul class="drive-items">
                        {% for folder in folders %}
                            <new-element id="{{ folder.id }}" name="{{ folder.name }}" date="{{ folder.date }}" parentfolder="{{ folder.parent_folder }}" type="1"></new-element>
                        {% endfor %}

                        {% for file in files %}
                            <new-element id="{{ file.id }}" name="{{ file.name }}" date="{{ file.date }}" parentfolder="{{ file.folder }}" type="0"></new-element>
                        {% endfor %}
                    </ul>

                {% else %}
                    <h1 style="margin-top:200px;">Não tem nenhum ficheiro ou folder criado.</h1>
                    
                {% endif %}
            {% endif %}
        </div>

        <div class="content-right">

        </div>

        <div id="myModal" class="modal">

            <div class="modal-content">
                <span class="close">&times;</span>
                
                <br><br>
                
                <select-path-ui></select-path-ui>

                {% if files|length > 0 or folders|length > 0 %}
                    <ul class="drive-items-select">
                        {% for folder in folders %}
                            <select-element id="{{ folder.id }}" name="{{ folder.name }}" date="{{ folder.date }}" parentfolder="{{ folder.parent_folder }}"></select-element>
                        {% endfor %}
                    </ul>

                {% else %}
                    <h1 style="margin-top:200px;">Não tem nenhum ficheiro ou folder criado.</h1>
                    
                {% endif %}
                <div style="margin-top: 10px; margin-bottom:10px;">
                    <button style="background-color: lightgreen; float: right;" id="confirmModal">Confirmar</button>
                    <button style="background-color: darkred; float: right;" id="closeModal">Cancelar</button>
                </div>
            </div>
          
        </div>
    </div>
{% endblock %}