{% extends 'base.html' %}

{% block 'content' %}
    <div class="container">
        <div id="content-left"></div>

        <div id="content-center">
            <div id="signupBox">
                <h4>Signup</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <button type="submit" class="signup-button">Signup</button>
                </form>
            </div>
        </div>
        
        <div id="content-right"></div>
    </div>

{% endblock %}